:root {
  --sl-font: "DejaVu Sans";
  --sl-color-accent-low: #2e2c2b;
  --sl-color-accent: #7aa89f;
  --sl-color-accent-high: #e6c384;
  --sl-color-white: #dcd7ba;
  --sl-color-gray-1: #e8e6e3;
  --sl-color-gray-2: #cfcfcf;
  --sl-color-gray-3: #888787;
  --sl-color-gray-4: #6f6f6f;
  --sl-color-gray-5: #4a4846;
  --sl-color-gray-6: #1f1f1f;
  --sl-color-black: #161616;
}

:root[data-theme="light"] {
  --sl-font: "DejaVu Sans";
  --sl-color-accent-low: #f2e5bc;
  --sl-color-accent: #d65d0e;
  --sl-color-accent-high: #d65d0e;
  --sl-color-white: #282828;
  --sl-color-gray-1: #3c3836;
  --sl-color-gray-2: #504945;
  --sl-color-gray-3: #665c54;
  --sl-color-gray-4: #bdae93;
  --sl-color-gray-5: #d5c4a1;
  --sl-color-gray-6: #fbf1c7;
  --sl-color-gray-7: #f2e5bc;
  --sl-color-black: #ebdbb2;
}

.hero {
  grid-template-columns: 1fr;
  padding: 1rem;
}

.hero .copy {
  display: none;
}

.hero .actions {
  justify-content: center;
}

h1[data-page-title],
a.site-title {
  font-family: var(--__sl-font-mono);
  font-weight: bold;
  color: var(--color-brand);
}
