---
import type { Props } from '@astrojs/starlight/props';
import Default from '@astrojs/starlight/components/Footer.astro';
import Stat from "./Footer/Stat.astro";

const isHomepage = Astro.props.slug === '';
---

{
  isHomepage ? (
    <hr style="border: 0; border-top: 1px solid var(--sl-color-gray-5); width: 50%; margin: 20px auto;">
    <footer class="footer">
      <div class="container">
        <p>
          Built with <a class="hero-link" href="https://rustlang.org" target="_blank" rel="noopener noreferrer">Rust</a>
            <span class="small-text"> & </span> <a class="hero-link" href="https://ratatui.rs" target="_blank" rel="noopener noreferrer">Ratatui</a> 🦀🐁
            <span class="small-text">with 🖤 from <a class="author-link" href="https://github.com/orhun" target="_blank" rel="noopener noreferrer">@orhun</a></p>
        </p>
    <a class="repo-link" href="https://github.com/orhun/binsider" target="_blank" rel="noopener noreferrer">
        <Stat />
      </a>
        <br>
        <br>
        <p class="small-text">&copy; {new Date().getFullYear()} Binsider. All rights reserved.</p>
        <p class="small-text">
        </p>
        <p class="small-text">In memory of Jia Tan 🏴</p>
     </div>
    </footer>
  ) : (
    <Default {...Astro.props}>
      <slot />
    </Default>
  )
}

<style>
  .footer {
    padding: 1rem 0;
    text-align: center;
    border-top: 1px solid var(--astro-border);
  }

  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
  }

  .small-text {
    margin: 0;
    font-size: 0.875rem;
  }

  .hero-link {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
  }

  .author-link {
    color: var(--sl-color-accent);
    text-decoration: none;
    font-weight: bold;
  }

  .repo-link {
    color: var(--sl-color-gray-2);
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }
</style>
