---
import type { Props } from '@astrojs/starlight/props';
import Default from '@astrojs/starlight/components/Hero.astro';

import demoImage from '../../src/assets/binsider-general-tab.png';
---

<div style="text-align: center;">
  <img
    src={demoImage.src}
    style="margin: 0;"
    alt="demo"
  />
</div>

<p>

binsider gets inside of the ELF binaries.

It provides powerful tools for both static and dynamic analysis, offering features similar to readelf and strace.

It allows you to easily inspect strings, examine linked libraries, and perform a hexdump, all within a user-friendly terminal user interface.

</p>

<Default {...Astro.props}><slot /></Default>
