---
import type { Props } from "@astrojs/starlight/props";
import SiteTitle from "@astrojs/starlight/components/SiteTitle.astro";
import textLight from '../../src/assets/binsider-text-light.png';
import textDark from '../../src/assets/binsider-text-dark.png';
---

<div class="flex items-center">
  <div class="transition-transform duration-100 hover:scale-110">
    <SiteTitle {...Astro.props} />
  </div>
  <a href="/" class="transition-transform duration-100 hover:scale-105">
    <div class="pt-5 -mt-2">
      <img
        class="light:sl-hidden ml-3 max-h-6"
        src={textDark.src}
        alt="Light text"
      />
      <img
        class="dark:sl-hidden ml-3 max-h-6"
        src={textLight.src}
        alt="Dark text"
      />
    </div>
  </a>
</div>
